#quotearea {
font-family: 'Times New Roman', Georgia, serif;
font-size: 1.2em;
   font-style: italic; 
   color:#666;
   background: #f3f3f3;
   height: 0px;
   width: 380px;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px;
}
#quoterotator {
   line-height: 135%;
}
#quoteauthor {
   display: block;
  color:#666;
    text-align: right;
   font-weight: bold;
   font-style: italic;
}


